/* RESET */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}



/* LAYOUT  */

.conteiner{
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    width: calc(100%/12*4);
}


.col-2{
    width: calc(100%/12*6);
    padding: 10px;
}

[class^="badge"]{
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 50px;
    z-index: 99;
}

.card{
    position: relative;
}



/* UTILITY */

.txt-al-r{
    text-align: right;
}

.txt-al-c{
    text-align: center;
}



/* STYLE */

*{
    font-family: 'Open Sans', sans-serif;
}

.page-main__box-card > .col-3{
    padding: 10px;
    margin-bottom: 20px;
}

/* HEADER */

.page-header{
    background-color: rgb(252, 104, 51);
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0.1);
}


.page-header .row {
	justify-content: space-between;
}

.logo-img{
    height: 40px;
    width: 170px;
}

.header-select li{
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}





/* MAIN */

.page-main{
    padding: 40px 0px;
}


.card__img{
    position: relative;
    display: flex;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	justify-content: center;
	align-items: center;
	opacity: 0;
    z-index: 1;
}

.card:hover .overlay {
	opacity: 1;
}

.badge-discount{
    background-color: red;
}

.badge-type{
    background-color: green;
    left: 50px;
}

.box-heart{
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 35px;
    color: black;
    background-color: white;
    z-index: 99;
    padding: 0px 15px;
}

.box-heart:hover{
    color: red;
}



.card__description__brand, 
.card__description__item{
    display: block;
}

.card__description__brand{
    font-size: 15px;
}

.card__description__item{
    font-weight: bold;
    font-size: 17px;
}


.card__description__price{
    color: red;
    font-weight: bold;
    font-size: 16px;
}


.card__description__old-price{
    text-decoration: line-through;
}



.badge-alone{
    left: 0;
}


/* FOOTER */

.page-footer{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    color: white;
    justify-content: space-between;
}

.page-footer a{
    margin-right: 10px;
}

.page-footer__logo-txt{
    font-size: 20px;
    font-weight: bold;
}

.page-footer li{
    display: inline-block;
    margin-top: 15px;
    text-align: left;
}

.social-txt{
    position: relative;
    right: 20px;
}